.container {
  width: 100%;
  background-color: #2da752;
  /* height: auto; */
}

.content {
  margin: 0 auto;
  width: 1140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.homeBannerContainer {
  background: linear-gradient(
      to right,
      rgba(0, 50, 0, 0.9),
      rgba(0, 50, 0, 0.6),
      rgba(0, 50, 0, 0)
    ),
    url("../assets/homeBanner.webp") no-repeat center/cover;
  height: auto;
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
}

.image-container img {
  width: 100%;
  height: auto;
  display: block;
}

.homeBannerText {
  padding: 30px;
  color: white;
  width: 33%;
  font-size: 2rem;
  font-weight: bolder;
}
