.container {
  background-color: lightyellow;
  height: 100px;
  width: 100%;
}

.header {
  margin: 0 auto;
  width: 1380px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftSide {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerLinks {
  background-color: grey;
  margin: 5px;
}
