.container {
  background-color: #00773e;
  height: 50px;
  width: 100%;
  border-top: 1px solid white;
  border-bottom: 2px solid white;
}

.content {
  margin: 0 auto;
  width: 1380px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftSide {
  width: 75%;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.headerLinks {
  margin: 5px 50px;
  color: white;
  text-decoration: none;
  text-emphasis: bold;
  font-size: 24px;
}

.rightSide {
  display: flex;
  margin: 5px;
  color: white;
}

.headerIcons {
  color: white;
}
