h3 {
  padding: 0;
  margin: 0;
}

.container {
  height: 400px;
  width: 300px;
  background-color: white;
  display: flex;
  flex-direction: column;
  /* align-items: top; */
  justify-content: top;
}

.imageContainer {
  height: 300px;
  width: 300px;
  background-color: white;
  padding: 5px 0px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: top;
  padding: 5px;
}

.itemName {
  font-size: 0.8em;
}

.itemPrice {
  font-size: 1em;
}

.itemName,
.itemPrice {
  text-decoration: none;
  color: darkgreen;
}

/* still not working */
.itemName:visited,
.itemPrice:visited {
  color: inherit;
  text-decoration: none;
}
